:root {

  --premiere-color: #e4e4e4;
  --deuxieme-color: #00000002; /* nav bar */
  --troisieme--color: #f9f9f9; /* main + profil */
  --quatrieme--color: #7a65aa; /* button and input*/
  --blanc: rgb(255, 255, 255); /* post + tendance list */
  --noir: black; /* font color*/
  --backgroundC: #ffffff; /* background color*/
  --grey: rgba(0, 0, 0, 0.161);
} 


/* Base styles */
* {

  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--noir)
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  list-style: none;
}


body {

  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--backgroundC);

}

/* ---------Sidebar styles------- */
.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--deuxieme-color);
  padding: 10px;
  margin-left: 11%;
}

.sidebar a {
  display: flex;
  color: var(--noir);
  text-decoration: none;
  border-radius: 50px;
  font-size: 25px;

}


.nav-top img {
  margin-left: 20px;
  margin-top: 25px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: var(--premiere-color);
  transition: background-color 0.2s ease;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 90px;
  height: 100px;
  padding-bottom: 10px;
}

.profil {
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 6px;
  background-color: var(--troisieme--color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.nom-user {
  margin-right: 90px;
  margin-top: 5px;
  margin-left: 3px;
}

.nom-profil {
  font-size: 10px;
  color: gray;
  margin-left: 3px;
}

.profil img {
  margin: auto;
}

.profil:hover {
  transform: translateY(-5px);
}

.image-profil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #eeeeee;
  margin-bottom: 15px;
}

.nom-profil {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.bio-profil {
  color: #666;
  text-align: center;
  font-size: 0.9em;
}


/* Main Content styles */
.main-content {
  background-color: var(--troisieme--color);
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;

}

.mise-en-page {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;

}

/*----POST-----*/

.timeProfil {
  font-size: 10px;
  color: var(--noir);
}

.create-post {
  margin-bottom: 20px;
}

#postContent {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: vertical; 
 
}

.create-post {
  width: 100%;
  margin: 0 auto; 
}

.tweet-input {
  position: relative;
}

.create-post textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 10px;
  resize: none; 
}

#txtCountTweet {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
  color: #999;
}

.create-post button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.create-post button:hover {
  background-color: #0d8ecf;
}

.postcontent {
  color: var(--noir);
}

#publishPost {
  background-color: var(--quatrieme--color);
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#publishPost:hover {
  background-color: #45a049;
}

.post-button a:hover {
  background-color: #45a049;
}

.profilpost {
  display: flex;
}

.nomutilisateur {
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 2px;
}

.pseudo {
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  font-size: 10px;
  color: grey;
  margin-bottom: 3px;
}

.photodeprofil img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.option {
  margin-top: 12px;
  margin-left: 72%;
}

.post {
  background-color: var(--blanc);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.repost {
  background-color: var(--blanc);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid 2px var(--grey);
}

.post-button a {
  background-color: var(--quatrieme--color);
  justify-content: center;
  color: white;
}

.borderpostcontent {
  border-top: solid var(--grey);
  border-bottom: solid var(--grey);
} 

.recommendation-button {
  display: block;
  width: max-content;
  padding: 10px;
  margin: 20px 0;
  background-color: var(--quatrieme--color);
  color: var(--blanc);
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

/*---likeRTcomment-----*/

.smalllink {
  display: flex;
  margin-left: auto;
  flex-direction: row;
}

.smalllink a {
  display: flex;
  margin-right: 15px;
}

.nombredeRT,
.nombredelike,
.nombredecom {
  font-size: 10px;
  color: var(--noir);
}

.gifclick img {
  margin-top: 7px;
  width: 15px;
  height: 15px;
  margin-left: 2%;
  margin-right: 3px;
}

/* Right Sidebar styles */

.right-sidebar {
  width: 290px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: var(--deuxieme-color);
  height: 100vh;
  margin-right: 9%;
}

.search-bar {
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 20px);
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.suggestion p {
  font-size: 9px;
  margin: 0;
  padding-left: 4px;
}

.background {
  background-color: var();
  border-radius: 50px;
  padding: 3%;
}

.marging {
  margin-bottom: 1.5%;
  margin-top: 3%;
}


.tendance-list {
  display: block;
  padding: 5px;
  color: var(--noir);
  text-decoration: none;
  margin: 7px;
  background-color: var(--blanc);
  font-size: 17px;
  text-align: start;
  font-weight: bold;
}

.tendance-list:hover {
  background-color: var(--premiere-color);
  transition: background-color 0.2s ease;
}

.tendance-list a {
  margin-left: 10px;
}

.tendance-list p {
  margin-left: 2px;
}

.tendance {
  height: auto
}

.all-sugestion {
  margin-bottom: 10px;
  background-color: red;
}

.sugguser {
  height: auto;
  display: flex;
  flex-direction: column;
}


/* Responsive Styles */

@media only screen and (max-width: 1419px) {
  .sidebar {
    margin-left: 5%;
  }

  .right-sidebar {
    margin-right: 3%;
  }
}

@media only screen and (max-width: 1100px) {

  .right-sidebar {
    display: none;
  }

  .mise-en-page {
    margin-right: 3%;
    justify-content: right;
  }

  .main-content {
    width: 70%;
  }

  .sidebar {
    margin-left: 0;
  }
}

@media only screen and (max-width: 900px) {



  .sidebar {
    width: auto;
  }

  .main-content {
    width: 85%;
  }

  .profil {
    width: 10%;
  }

  .sidebar p {
    display: none;
  }

  .logo {
    display: none;
  }

  .profil {
    display: none;
  }

  .nav-top img {
    margin: 0;
    margin-bottom: 50%;
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 480px) {

  .mise-en-page {
    margin: 0;
  }

  .nav-top img {
    margin: 0;
    margin-bottom: 50%;
    width: 30px;
    height: 30px;
  }
}

/*-------squelette-------*/

/*-----dark mode------*/

#darkModeToggle button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#darkModeToggle button:hover {
  background-color: #65686b;
}

.dark-mode {
  --premiere-color: #1e1e1e;
  --deuxieme-color: #1e1e1e;
  --troisieme--color: #1e1e1e;
  --quatrieme--color: #7a65aa;
  --blanc: #2b2a2a;
  --noir: white;
  --backgroundC: #1e1e1e;
  --grey: white;

}

/*----- EDIT PROFIL------*/


.form-profil {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 6%;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.form-profil form {
  display: flex;
  flex-direction: column;
  margin: 3%;
  
}

.form-profil form input {
  width: 200px;

}

/*------MESSAGERIE-----*/



.suggestion p {
  font-size: 9px;
  margin: 0;
  padding-left: 4px;
}

.background {
  background-color: var();
  border-radius: 50px;
  padding: 3%;
}

.conversations {
  display: block;
  padding: 5px;
  color: var(--noir);
  text-decoration: none;
  margin: 7px;
  background-color: var(--blanc);
  font-size: 17px;
  text-align: start;
  font-weight: bold;
}

.utilisateur-dans-conversation {
  font-size: 10px;
}

.conversations:hover {
  background-color: var(--premiere-color);
  transition: background-color 0.2s ease;
}

.conversations a {
  margin-left: 10px;
}

.conversations p {
  margin-left: 2px;
}

.tendance {
  height: auto
}

.all-sugestion {
  margin-bottom: 10px;
  background-color: red;
}

.sugguser {
  height: auto;
  display: flex;
  flex-direction: column;
}

.talk {
  margin: 20px 0;
  color: grey;
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 50%;
}

.jetest {
  display: flex;
  flex-direction: column-reverse; 
  width: 50em;
  height: 860px;
  overflow: auto;
}

.talk img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: auto;
}

.talk p {
  padding: 15px;
  line-height: 25px;
  border-radius: 20px;
}
.right {
  margin-left: 20em;
 
}
.right p {
  margin-right: 10px;
  color: #f1f1f1;
  background:var(--quatrieme--color);
}
.left p {
  margin-left: 10px;
  background: rgb(216,216,216);
  color: #000;
}

.chat {
  flex-shrink: 0;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}


.submit-btn {
  background: #322828;
  justify-content: center;
  align-items: center;
  color: var(--blanc);
}